
    .subscribe-button {
        background-color: rgb(231, 6, 6);
        color: white;
        border: none;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 16px;
        padding-right: 16px;

        border-radius: 2px;
        cursor: pointer;
        margin-right: 8px;
        transition: opacity 0.15s;
        vertical-align: top;
    }

    .subscribe-button:hover {
        opacity: 0.8;
    }

    .subscribe-button:active {
        opacity: 0.4;
    }

    .join-button {
        background-color: white;
        border-color: rgb(33, 89, 209);
        border-style: solid;
        border-width: 1px;
        color: rgb(33, 89, 209);
        border-radius: 2px;
        cursor: pointer;
        padding-top: 9px;
        padding-bottom: 9px;
        padding-left: 16px;
        padding-right: 16px;
        transition: background-color .15s,
            color 1s;

    }

    .join-button:hover {
        background-color: rgb(33, 89, 209);
        color: white;
    }

    .join-button:active {
        opacity: 0.7;
    }

    .tweet-button {
        background-color: rgb(97, 141, 236);
        color: white;
        border: none;
        height: 36px;
        width: 72px;
        border-radius: 18px;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
        margin-left: 8px;
        transition: box-shadow .15s;
        vertical-align: top;

    }

    .tweet-button:hover {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .15);
    }
