.header{
    height: 55px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
}
.search:focus{
    outline: none;
    border-color: rgb(50, 170, 218);
    border-width: 1px;
    z-index: 100;
}
.left-section{
    display: flex;
    flex-direction: row;

    width: 150px;
    align-items: center;
}
.middle-section{
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    margin-right: 35px;
    flex: 1;
    max-width: 500px;
    align-items: center;
}
.right-section{
    display: flex;
    flex-direction: row;

    width: 300px;
    padding-left: 5px;
    align-items: center;
    column-gap: 20px;
}

.menu{
    width: 25px;

}
.yt-icon{
    width: 95px;
}

.d1{
    margin-left: 15px;
}
.d2{
    margin-left: 25px;
}

.voice-search{
    width: 25px;
}
.search::placeholder{
    font-family: roboto;
    font-size:17px ;
    padding-left: 9px;
    color: gray;
}
.search{
       font-family: roboto;
    font-size:17px ;
    padding-left: 16px;
    color: gray;
    height: 31px;
    width: 370px;
        border-width: 1px;
    border-color: gray;

}
.yt-search{
    width: 28px;
}
.yt-search-button{
    
    width: 70px;
    border-width: 1px;
    border-color: gray;
}
.yt-search-button:active{
    border-color: rgb(130, 211, 243);
}
.yt-search-button:active{
    color: rgb(71, 70, 70);
}
.yt-voice-button{
    background-color: rgb(231, 221, 221);
    width: 37px;
    height: 37px;
    border-style: none;
    border-radius: 50%;
    margin-left: 5px;
}
.pic1,
.pic2,
.pic3,
.pic4{
    width: 25px;
}
.f1{
    margin-left: 110px;
}