.left-tray {

    display: inline-block;
    height: calc(100vh - 55px);
    width: 75px;    
    width: 49px;
    position: fixed;
    top: 55px;
    left: 0;
    bottom: 500px;



}
.did2{
    height: 90px;
    width: 50px;
    margin-left: 1px;
    border: none;
    background-color: rgb(255, 253, 253);
}

.did3 {
    width: 25px;
}
