.left-tray{
    border-style: solid;
    display: inline-block;
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
     border-right: 1px solid #ddd;
    padding-top: 60px;      /* if your navbar height is 60px */
    box-sizing: border-box;

}
.second-colmn{
    display: flex;
    flex-direction: row;

}
.main-layout {
    display: flex;
    width: 100%;
}